header
    .burger
      input(type='checkbox' onclick='if(this.checked){showMenu()} else {hideMenu()}')
      - for (var x = 0; x < 3; x++)
        span
    .breadcrumb
      a.breadcrumb__item(href='#') Home
      img.breadcrumb__separator(src='img/Vector.svg' alt='')
      a.breadcrumb__item(href='#') Network
    .profile
      img.profile__avatar(src='img/SF@2.png' alt='')
      span.profile__name Sarah Freeman
      img.profile__expand(src='img/Shape.svg' alt='')